<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    </head>

    <body>
        <div th:replace="admin/fragments/header :: header">Header</div>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <h2>Títulos</h2>
            <table id="titulo" class="table table-striped" cellspacing="0" width="100%" >
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>1º</th>
                        <th>2º</th>
                        <th>3º</th>
                        <th>4º</th>
                        <th>5º</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="titulos : ${titulos}">
                        <td th:text="${titulos.usuario.nome}"></td>
                        <td th:text="${titulos.primeiro}"></td>
                        <td th:text="${titulos.segundo}"></td>
                        <td th:text="${titulos.terceiro}"></td>
                        <td th:text="${titulos.quarto}"></td>
                        <td th:text="${titulos.quinto}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>