<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Jogador</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
        <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"></link>
    </head>
    <body>
        <div th:replace="admin/fragments/header :: header">Header</div>
        <br/>
        <br/>
        <div class="container">
            <h2>Lista de Jogadores</h2>
            <br/>
            <table class="table" id="jogadores"> 
                <thead>
                    <tr>
                        <th>Jogadores</th>
                        <th>Posicao</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jogador : ${jogadores}">
                        <td th:text="${jogador.nome}"></td>
                        <td th:text="${jogador.pos.descricao}"></td>
                        <td>
                            <a class="btn btn-primary btn-xs" th:href="@{/admin/jogador/edit/{id}(id=${jogador.id})}" >Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-xs" th:href="@{/admin/jogador/delete/{id}(id=${jogador.id})}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="panel-footer">
                <a class="btn btn-sm btn-success" th:href="@{/admin/jogador/add/}">Cadastrar Jogador</a>
            </div>
            <br/>
        </div>

        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#jogadores').DataTable();
            });
        </script>

    </body>
</html>