<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    </head>

    <body>
        <div th:replace="admin/fragments/header :: header">Header</div>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <div>
                <form class="form-horizontal" th:object="${torneio}" th:action="@{/admin/torneio/save}" method="POST">  
                    <div class="form-group">                                                          
                        <div class="col-sm-10">
                            <label>Id:</label>
                            <input type="text" class="form-control" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">                                                          
                        <div class="col-sm-10">
                            <label>Fifa</label>
                            <input type="number" class="form-control" th:field="*{anoFifa}" autofocus="autofocus" placeholder="Informe o ano do Fifa" maxlength="2"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Tipo do Torneio:</label>
                            <select th:field="*{tto}" class="form-control">
                                <option th:each="tto : ${tipoTorneio}" th:value="${tto.id}" th:text="${tto.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar Torneio</button>
                </form>
            </div>
        </div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>